/* body {
  color: whitesmoke;
} */

form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
form label {
  display: flex;
  flex-direction: column;
  /* margin: .5rem; */
}
/* .App {
  text-align: center;
  background-color: #f0f3ff;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #485264;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.auth {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  align-items: center;
}
